body {
    background-color: black;
    background-size: cover;
    
}

.My-Portfolio {
    font-size: 72px;
    color: yellow;
    display: flex;
    justify-content: center;
    margin-top: 11%;
    
}

.Creator-Name {
    font-size: 60px;
    color: yellow;
    display: flex;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 9%;
}

.Learn-More {
    font-size: 35px;
    color: yellow;
    display: flex;
    justify-content: center;
    border: 5px solid yellow;
    padding: 5px;
    padding: 5px; 
    padding-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 42%;
    margin-top: 9%;
    
}

.Page-2 {
    background-image: url(download/PortfolioBackground-2_AdobeExpress.gif);
}

.Tabel-of-Contents {
    color: yellow;
    font-size: 65px;
    margin-left: 5%;
    border-style: solid;
    padding: 5px;
    padding-left: 5px;
    margin-top: 5%;
}

.My-BIO {
    color: yellow;
    font-size: 55px;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 2%;
}

.All-About-Me {
    color: white;
    font-size: 40px;
    margin-left: 16%;
}

.Dot-Dot-Dot {
    color: white;
    font-size: 70px;
    margin-left: 30%;
    
}

.My-Nextech-Project {
    color: yellow;
    font-size: 55px;
    margin-left: 32%;
    margin-top: 10%;
    font-size: 55px;
    margin-bottom: 2%;
}

.Past-Project {
    color: white;
    font-size: 40px;
    margin-left: 54%;
}

.Dot-Dot-Dot2 {
    color: white;
    font-size: 70px;
    margin-left: 66%;
}


.My-Goal {
    color: yellow;
    font-size: 55px;
    margin-left: 70%;
    margin-top: 10%;
    margin-bottom: 2%;
}

.My-Goals {
    color: white;
    font-size: 40px;
    margin-left: 65%;
}

.Dot-Dot-Dot3 {
    color: white;
    font-size: 70px;
    margin-left: 95%;
}

.My-Photo {
    margin-left: 55%;
    position: relative;
    bottom: 550px;
}

.BIO-2 {
    color: aqua;
    font-size: 50px;
    margin-left: 5%;
}

.Dot-Dot-Dot4 {
    color: white;
    font-size: 70px;
    margin-left: 5%;
    margin-top: -3%;
}

.Bio-description {
    color: white;
    width: 300px;
    margin-left: 5%;
    
}

.My-Nextech-Project2 {
    color: yellow;
    font-size: 50px;
    margin-left: 5%;
   position: relative;
   bottom: 500px;
}

.Screenshot-1 {
    margin-left: 5%;
    position: relative; 
    bottom: 410px;
}

.Unit-2-Project {
    color: yellow;
    font-size: 35px;
    margin-left: 5%;
    position: relative;
    bottom: 350px;
    
}

.Text-Session-Unit-2 {
    color: white;
    font-size: 25px;
    width: 260px;
    margin-left: 5%;
    position: relative;
    bottom: 330px
}

.Screenshot-2 {
    margin-left: 40%;
    position: relative;
    bottom: 765px;
}

.Unit-3-Project {
    color: yellow;
    font-size: 35px;
    margin-left: 40%;
    position: relative;
    bottom: 710px;
}

.Text-Session-Unit-3 {
    color: white;
    font-size: 25px;
    width: 270px;
    margin-left: 40%;
    position: relative;
    bottom: 690px;
}

.Screenshot-3 {
    margin-left: 75%;
    position: relative;
    bottom: 1182px;
}

.Unit-5-Project {
    color: yellow;
    font-size: 35px;
    margin-left: 75%;
    position: relative;
    bottom: 1130px;
}

.Text-Session-Unit-5 {
    color: white;
    font-size: 25px;
    width: 270px;
    margin-left: 75%;
    position: relative;
    bottom: 1120px;
}

.Quotaion-Mark-1 {
    color: white;
    font-size: 500px;
    margin-left: 7%;
    position: relative;
    bottom: 1100px;
}

.My-Goal-2 {
    color: white;
    font-size: 50px;
    width:700px;
    margin-left: 25%;
    position: relative;
    bottom: 1400px;
}

.Quotaion-Mark-2 {
    color: white;
    font-size: 500px;
    margin-left: 80%;
    position: relative;
    bottom: 2010px;
}

.From-my-viewers {
    color: lightblue;
    font-size: 50px;
    margin-left: 5%;
    position: relative;
    bottom: 1900px;
}

.Comment-1 {
    color: yellow;
    font-size: 40px;
    width: 400px;
    margin-left: 1%;
    position: relative;
    bottom: 1850px;
}

.Name-Comminter-1 {
    color: white;
    font-size: 30px;
    margin-left: 12%;
    position: relative;
    bottom: 1850px;
}

.Comment-2 {
    color: yellow;
    font-size: 40px;
    width: 410px;
    margin-left: 32%;
    position: relative;
    bottom: 2110px;
}

.Name-Comminter-2 {
    color: white;
    font-size: 30px;
    margin-left: 40%;
    position: relative;
    bottom: 2100px;
}

.Comment-3 {
    color: yellow;
    font-size: 40px;
    width: 400px;
    margin-left: 67%;
    position: relative;
    bottom: 2330px;
}

.Name-Comminter-3 {
    color: white;
    font-size: 30px;
    margin-left: 77%;
    position: relative;
    bottom: 2350px;
}

.Lets-chat {
    color: yellow;
    font-size: 50px;
    position: relative;
    bottom: 2100px;
}

.Phone {
    color: yellow;
    font-size: 40px;
    position: relative;
    bottom: 2100px;
}

.Phone-number {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 2100px;
}

.Email {
    color: yellow;
    font-size: 40px;
    position: relative;
    bottom: 2100px;
}

.my-email {
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 2100px;
}

